.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 80%;
  margin: 2rem auto;
  @media only screen and (max-width: 768px) {
    max-width: 90%;
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
